body {
    background-color:rgb(14, 106, 160);
}

h1{
    text-align: center;
    color: white;
    font-family: garamond;
}

h2{
    
    color: white;
    font-family: garamond;
}

p{
    
    color: white;
    font-family: garamond;
}

ul{
    
    color: white;
    font-family: garamond;
}

li{
    
    color: white;
    font-family: garamond;
}
